

.article-analyzer-container {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.article-input {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}

.analyze-button {
  font-family: 'Lato', sans-serif;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.result-display {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
  /* margin-top: 20px;
  font-size: 15px;
  line-height: 1.2rem; */
  word-wrap: break-word;
    white-space: pre-line;
    -webkit-font-smoothing: antialiased;

      letter-spacing: -0.003em;

      line-height: 32px;
 
      margin-top: 2.14em;

      font-size: 20px;
  }
    
